# ignore node packages
node_modules

# ignore python virtual env
venv

# ignore python bytecode files
*.pyc

# ignore adb temp files
usagestats.txt
usagestats_yearly_packages.csv
usagestats_yearly_packages.txt
top_*_apps.csv
web_cache.sqlite

# ignore tax brackets file
tax_brackets.csv

# ignore build files
build/
dist/
*.spec


# ignore logs
*.log
*.log.*
