# ignore node packages
node_modules/

# ignore python virtual environments
*venv*/

# ignore python bytecode files
*.pyc

# ignore jupyter notebooks used for testing
*.ipynb

# ignore inputs
inputs/

# ignore build files
build/
dist/
*.spec

# ignore log files
*.log
*.log.*

# ignore cache files
web_cache.sqlite
*.pkl
